<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBC86qfA14nB5iUwyXsHoSnBWuAqkJzBs</string>
	<key>GCM_SENDER_ID</key>
	<string>527829636188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virokVms</string>
	<key>PROJECT_ID</key>
	<string>virok-wms-2a767</string>
	<key>STORAGE_BUCKET</key>
	<string>virok-wms-2a767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527829636188:ios:6b475e26f7a3b0b6a08299</string>
</dict>
</plist>